@each $size in $sizes {
	.m_#{$size} {
		margin: #{$size}px;
	}
	.mt_#{$size} {
		margin-top: #{$size}px !important; 
	}
	.mtb_#{$size} {
		margin-top: #{$size}px !important; 
		margin-bottom: #{$size}px !important; 
	}
	.ml_#{$size} {
		margin-left: #{$size}px !important; 
	}
	.mr_#{$size} {
		margin-right: #{$size}px !important; 
	}
	.mlr_#{$size} {
		margin-left: #{$size}px !important; 
		margin-right: #{$size}px !important; 
	}
}