.mtb_20 {
  margin-top: 20px;
  margin-bottom: 20px;
  height: calc(100% - 40px)  
}

.m_20 {
  margin: 20px;
}


.p_20 {
  padding: 20px;
}

.mlr_10 {
  margin-right: 10px;
  margin-left: 10px; 
}

.bg1 {
  background: #ccc;
}

.h_100 {
  height: 100%;
}