@each $size in $sizes {
	.p_#{$size} {
		padding: #{$size}px;
	}
	.pt_#{$size} {
		padding-top: #{$size}px !important; 
	}
	.ptb_#{$size} {
		padding-top: #{$size}px !important; 
		padding-bottom: #{$size}px !important; 
	}
	.pl_#{$size} {
		padding-left: #{$size}px !important; 
	}
	.pr_#{$size} {
		padding-right: #{$size}px !important; 
	}
	.plr_#{$size} {
		padding-left: #{$size}px !important; 
		padding-right: #{$size}px !important; 
	}
}