@each $breakpoint in $res {
  	@media (min-width : #{$breakpoint}px) {
		@each $size in $sizes {
			.p-#{$breakpoint}-#{$size} {
				padding: #{$size}px;
			}
			.pt-#{$breakpoint}-#{$size} {
				padding-top: #{$size}px !important; 
			}
			.pb-#{$breakpoint}-#{$size} {
				padding-bottom: #{$size}px !important; 
			}
			.ptb-#{$breakpoint}-#{$size} {
				padding-top: #{$size}px !important; 
				padding-bottom: #{$size}px !important; 
			}
			.pl-#{$breakpoint}-#{$size} {
				padding-left: #{$size}px !important; 
			}
			.pr-#{$breakpoint}-#{$size} {
				padding-right: #{$size}px !important; 
			}
			.plr-#{$breakpoint}-#{$size} {
				padding-left: #{$size}px !important; 
				padding-right: #{$size}px !important; 
			}
		}
	}
}